.favorite { 
    display: flex;
    align-items: center;
    gap: var(--spacing-25);
    position: absolute;
    right: var(--spacing-100);
    bottom:var(--spacing-100);
    &__text {
      color: #0d7af6;
      font-size: 16px;
    }
    &__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      &__icon {
        font-size: 18px;
        fill: #0d7af6;
      }
    }
  }