@font-face {
  font-family: InterVar;
  font-style: normal;
  src: url('../fonts/inter/InterVariable.woff2');
}

@font-face {
  font-family: InterVar;
  font-style: italic;
  src: url('../fonts/inter/InterVariable-Italic.woff2');
}

@font-face {
  font-family: Recursive;
  font-style: normal;
  src: url('../fonts/recursive/Recursive_VF_1.085.woff2');
}
